html, body {
    width: 100%;
    height: 100%;
    margin: 0;
	background: black;
}

#container {
    width: 50em;
    height: 100%;
    margin: 0 auto;
}

canvas {
    display: block;
    margin: 0 auto;
    background: black;
}

#paddle {
    position: absolute;
    border-radius: 3px;
    background-color: #888;
    background-image: -webkit-linear-gradient(top, #DDD, #222);
    background-image:    -moz-linear-gradient(top, #DDD, #222);
    background-image:         linear-gradient(to bottom, #DDD, #222);
}

#ball {
    position: absolute;
    border-radius: 50%;
    background-color: #888;
    background-image: -webkit-radial-gradient(35% 15%, circle, #FFF 5%, #222 67%, #888 100%);
    background-image:    -moz-radial-gradient(35% 15%, circle, #FFF 5%, #222 67%, #888 100%);
    background-image:         radial-gradient(circle at 35% 15%, #FFF 5%, #222 67%, #888 100%);
}

#bottom_bar {
    position: relative;
    top: 0.8em;
    width: 100%;
    height: 6.8em;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.text {
    position: absolute;
    top: 1.6em;
	font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
	color: #CCC;
}

a.divlink {
    position: absolute;
    display: block;
    left: 1%;
    width: 20%;
    height: 100%;
    text-decoration: none;
}

.forum_icon {
    position: absolute;
    font-size: 1.5em;
    left: 0.6em;
    top: 1.4em;
    border-radius: 0.2em;
    width: 2em;
    height: 1.5em;
    background: #CCC;
}

.forum_icon::before {
	position:absolute;
	right: 0.4em;
	bottom: -0.3em;
	border-bottom: 0.4em solid transparent;
	border-left: 0.4em solid #CCC;
	content: "";
}

.forum_icon::after {
    position: absolute;
    left: 0.2em;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    content: ">_";
    color: black;
    font-family: monospace;
}

.forum_icon_hover {
    background: #0C0;
}

.forum_icon_hover::before {
	border-left: 0.4em solid #0C0;
}

#forum_label {
    left: 3em;
}

#vline {
    position: absolute;
    left: 23%;
    top: 0;
    width: 0.1em;
    height: 100%;
    background: #444;
}

#info {
    right: 3.5%;
}
