
body {
	background-color: black;
}

.header img {
	width: 90%;
}

.header {
	color: rgb(100, 230, 0);
	text-align: center;
	background-color: black;
	font-family: 'Shift', sans-serif;
}

.text {
	font-size: 14pt;
	font-family: 'Shift', sans-serif;
	color: rgb(200, 200, 200);
}

#bodyText {
	margin-top: 10%;
	text-align: center;
	font-weight: lighter;
}

.nav {
	word-spacing: 15px;
	font-weight: bold;
	font-size: 18px;
}

#nav1, #nav2 {
	display: inline;
	border-bottom: 1px solid #cc0000;
	border-top: 1px solid #cc0000;
	padding: 5px;
}

#nav1 {
  float: left;
}

#nav2 {
 float: right;
}

#copyright {
	margin-top: 20%;
	text-align: center;
}

